priority -50

snippet req
const $1 = require('$2');
endsnippet

snippet fn
function $1($2) {
	$3
}
endsnippet

snippet fa ""
($1) => {
	$2
}
endsnippet

snippet for
for ($1) {
	$2
}
endsnippet

snippet cl
console.log($1);
endsnippet
