snippet link
[${1:description}](${2:link})
endsnippet

snippet codeblock
\`\`\`${1:language}
${2:${VISUAL:code}}
\`\`\`
endsnippet

snippet image
![${1:alt_text}](${2:image_link})
endsnippet

snippet mn
# `date +%d/%m/%y`

## Topics
* ${1}

## Notes

## ToDo

endsnippet

snippet h1
# ${1}
${2}
endsnippet

snippet h2
## ${1}
${2}
endsnippet

snippet h3
### ${1}
${2}
endsnippet

snippet h4
#### ${1}
${2}
endsnippet

snippet h5
##### ${1}
${2}
endsnippet

