[submodule "dracula/iterm"]
	path = dracula/iterm
	url = https://github.com/dracula/iterm.git
[submodule "dracula/alfred"]
	path = dracula/alfred
	url = https://github.com/dracula/alfred
[submodule "dracula/jetbrains"]
	path = dracula/jetbrains
	url = https://github.com/cod3hulk/dracula-theme.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
